.edit-feedback {
  gap: 55px;
  padding: 24px 24px 77px 24px;
  font-size: 13px;
  .page-nav {
    margin-bottom: 0px;
  }
  .edit {
    position: relative;
    padding: 24px;
    .container-image {
      top: -20px;
      left: 24px;
      width: 40px;
      height: 40px;
    }
    .feedback-title {
      margin-top: 20px;
    }
    form {
      .title-section .title,
      .category-section .category-name,
      .status-section .status-name,
      .detail-section .feedback-detail {
        color: $primary-color;
        font-size: 13px;
        font-weight: 700;
        margin: 0 0 4px 0;
      }
      .title-section .title-subtext,
      .category-section .category-subtext,
      .status-section .status-subtext,
      .detail-section .detail-subtext {
        color: $lynch;
        font-size: 13px;
        margin-bottom: 16px;
      }
      .button-group {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .cancel {
          order: 2;
        }
        .save {
          order: 3;
        }
        .delete {
          order: 1;
          margin: 0px;
        }
      }
    }
  }
}
