@import "../../styles/variables";
@import "../../styles/mixings";
.feedback-details {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 24px;
  .page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    color: $lynch;
    & div:first-child {
      img {
        margin: 0px 8px 0px 0px;
      }
    }
    & button:last-child {
      @include royal-blue-button-default;
    }
  }
  .comments {
    @include card;
    padding: 24px;
    .section-header {
      font-weight: 700;
      font-size: 18px;
      color: $primary-color;
      margin: 0 0 24px 0;
      & span:first-child {
        display: inline-block;
        margin-right: 4px;
      }
    }
  }
  .add-comment {
    @include card;
    padding: 24px;
    margin: 0px 0px 88px 0px;
    .section-header {
      font-weight: 700;
      font-size: 18px;
      color: $primary-color;
      margin: 0 0 24px 0;
    }
    form {
      textarea {
      }
      button {
        @include violette-button-default;
      }
      .char-count {
        margin: 16px 0 0 0;
        font-size: 13px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

@media (max-width: 375px) {
  @import "./Feedback.mobile.scss";
}

@media (min-width: 376px) and (max-width: 768px) {
  @import "./Feedback.tablet.scss";
}
