@mixin violette-button-default {
  background-color: $electric-violet;
  border: none;
  border-radius: 10px;
  font-size: $font-size-body-3;
  font-weight: 700;
  color: $white;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
}
