//Colors
$primary-color: rgba(58, 67, 116, 1);
$background-grey: rgba(247, 248, 253, 1);
$selago: rgba(242, 244, 255, 1);
$rhino: rgba(55, 63, 104, 1);
$white: rgba(255, 255, 255, 1);
$royal-blue: rgba(70, 97, 230, 1);
$electric-violet: rgba(173, 31, 234, 1);
$lynch: rgba(100, 113, 150, 1);
$tacao: rgba(244, 159, 133, 1);
$malibu: rgba(98, 188, 250, 1);
