/* Global styles for the entire application. */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap");
@import "variables.scss";
@import "mixings.scss";
* {
  font-family: "Jost", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: $background-grey;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.link {
  text-decoration: none;
  color: inherit;
}
.align-center {
  align-items: center;
}
textarea {
  @include inputStyle;
  height: 80px;
  font-size: 13px;
  color: $primary-color;
  &::placeholder {
    font-size: 13px;
  }
}

input {
  @include inputStyle;
}
select {
  @include inputStyle;
  appearance: none;
  -webkit-appearance: none;
  padding-right: 16px;
  background-image: url("../../public/assets/icons/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 20px + 4px) center;
  option::first-letter {
    text-transform: capitalize;
  }
}
