.create-feedback {
  gap: 55px;
  padding: 24px 24px 77px 24px;
  font-size: 13px;
  .page-nav {
    margin-bottom: 0px;
  }
  .new {
    position: relative;
    padding: 24px;
    .container-image {
      top: -20px;
      left: 24px;
      width: 40px;
      height: 40px;
    }
    .feedback-title {
      font-size: 18px;
      margin-top: 20px;
    }
    form {
      .title-section .title,
      .category-section .category-name,
      .status-section .status-name,
      .detail-section .feedback-detail {
        font-size: 13px;
      }
      .title-section .title-subtext,
      .category-section .category-subtext,
      .status-section .status-subtext,
      .detail-section .detail-subtext {
        font-size: 13px;
      }
      .button-group {
        flex-direction: column;
        gap: 16px;
        .cancel {
          order: 2;
        }
        .save {
          order: 1;
        }
        .delete {
          order: 3;
        }
      }
    }
  }
}
