@import "../../styles/variables";
@import "../../styles/mixings";

.feedbacks {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 375px) {
  @import "Home.mobile.scss";
} ;
