@import "../../styles/variables";
@import "../../styles/mixings";
.home {
  width: 100vw;
  .feedbacks {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
@media (max-width: 375px) {
  @import "Home.mobile.scss";
}

@media (min-width: 376px) and (max-width: 768px) {
  @import "Home.tablet.scss";
}
