@import "../../styles/variables";
@import "../../styles/mixings";
.comment {
  color: $primary-color;
  line-height: 20px;
  margin-bottom: 24px;
  .author-details {
    display: flex;
    justify-content: space-between;
    img {
      border-radius: 50%;
    }
    .author-name {
      font-weight: bold;
    }
    .author-username {
      color: $lynch;
    }
    .link {
      font-weight: 600;
      color: $royal-blue;
      text-align: right;
      flex-grow: 1;
    }
  }
  .comment-content {
    color: $lynch;
  }
}
@media (max-width: 375px) {
  @import "./Comment.mobile.scss";
}
