.comment {
  font-size: 13px;
  .author-details {
    img {
      width: 40px;
      height: 40px;
      margin-right: 16px;
    }
    p {
      font-size: 13px;
    }
  }
  .comment-content {
    .replies {
      padding-left: 0px;
    }
  }
}
