@import "../../styles/variables";
@import "../../styles/mixings";
.comment {
  color: $primary-color;
  line-height: 20px;
  margin-bottom: 24px;
  .author-details {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 32px;
    }
    .author-name {
      font-weight: bold;
    }
    .author-username {
      color: $lynch;
    }
    .link {
      font-size: 13px;
      font-weight: 600;
      color: $royal-blue;
      text-align: right;
      flex-grow: 1;
    }
  }
  .comment-content {
    color: $lynch;
    margin-left: 72px;
    .replies {
      padding-left: 24px;
      border-left: 1px solid $selago;
    }
  }
}
.first {
  border-bottom: 1px solid grey;
}
@media (max-width: 375px) {
  @import "./Comment.mobile.scss";
}
