@import "../../styles/variables";
@import "../../styles/mixings";
.filter {
  background-color: $rhino;
  width: 100%;
  display: flex;
  color: $white;
  height: 72px;
  border-radius: 10px;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
  margin-bottom: 24px;
  button {
    @include violette-button-default;
  }
  .flex {
    position: relative;
    font-size: 14px;
    align-items: center;
    .suggestions {
      display: flex;
      align-items: center;
      margin-right: 24px;
      font-weight: 700;
      font-size: 18px;
      img {
        margin-right: 16px;
      }
    }
    .dropdown-toggle {
      font-weight: 700;
      margin: 0 4px;
      .arrow-icon {
        margin: 0 8px;
        & path {
          stroke: $white;
        }
      }
    }
    .dropdown-menu {
      position: absolute;
      list-style: none;
      top: 22px;
      left: 0px;
      width: 250px;
      font-size: 16px;
      @include card;
      color: $lynch;
      padding: 0;
      z-index: 12;
      box-shadow: 0px 2px 3px 3px $selago;
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $selago;
        padding: 16px;
        img {
          height: 16px;
          width: 16px;
        }
        &:hover {
          color: $electric-violet;
        }
        &:last-child {
          border: none;
        }
      }
    }
  }
}
@media (max-width: 375px) {
  @import "Filter.mobile.scss";
}

@media (min-width: 375px) and (max-width: 768px) {
  @import "Filter.tablet.scss";
}
