@import "../../styles/variables";
.filters-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 529px;
  min-width: 255px;
  margin-right: 30px;
  .company {
    background: url("../../../public/img/desktop/background-header.png")
      no-repeat center center/cover;
    color: $white;
    font-weight: 700;
    display: flex;
    border-radius: 10px;
    padding: 24px;
    align-items: flex-end;
    .board-name {
      font-size: 15px;
      font-weight: 400;
    }
    .menu {
      display: none;
    }
  }
  .category-filter,
  .road-map,
  .company {
    flex: 1;
  }
}

@media (max-width: 375px) {
  @import "Header.mobile.scss";
}

@media (min-width: 376px) and (max-width: 768px) {
  @import "Header.tablet.scss";
}
