@import "../../styles/mixings";
.filters-section {
  .company {
    /* Set the background image and position it in the center of the header */
    background: url("../../../public/img/mobile/background-header.png")
      no-repeat center center/cover;
    height: 72px;
    padding: 16px 24px;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    border-radius: 0px;
    .board-name {
      font-size: 13px;
      font-weight: 400;
    }
    .menu {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .road-map,
  .category-filter {
    display: none;
  }
}
.mobile-menu {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 72px;
  right: 0px;
  width: 100vw;
  height: 100vh;
  .wrapper {
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    width: 271px;
    height: 100%;
    background-color: $background-grey;
    padding: 24px;
    gap: 24px;
  }
}
