@import "../../styles/variables";
.filters-section {
  display: flex;
  gap: 10px;
  .company {
    color: $white;
    font-weight: 700;
    display: flex;
    border-radius: 10px;
    padding: 24px;
    align-items: flex-end;
    .board-name {
      font-size: 15px;
      font-weight: 400;
    }
  }
  .category-filter,
  .road-map,
  .company {
    flex: 1;
  }
}

@media (max-width: 375px) {
  @import "Header.mobile.scss";
}

@media (min-width: 376px) and (max-width: 768px) {
  @import "Header.tablet.scss";
}
