.filters-section {
  padding: 56px 40px 16px 40px;
  .company {
    background: url("../../../public/img/tablet/background-header.png")
      no-repeat center center/cover;
    .menu {
      display: none;
    }
  }
}
