.feedback {
  font-size: $font-size-body-3;
  padding: 24px;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: space-between;
  .item-details {
    order: 1;
    flex-grow: 1;
    margin: 0px 0px 8px 0px;
  }
  .upvotes {
    flex-direction: row;
    align-items: center;
    order: 2;
    margin: 0px;
    img {
      margin: 0px 8px 0px 0px;
    }
  }
  .comments {
    order: 3;
  }
}
